@charset "UTF-8";
/* CSS Document */

body {
    color: #001EFF;
	background-repeat: no-repeat;
    background-size: cover;
	background-color: rgba(0,0,0,1.00);
}

 
#d{
	position: absolute;
	top: 80%;
	text-align: center; 
	left:0%; 
	width: 200px;
}

#c { 
position: absolute;
	top: 60%;
	text-align: center; 
	left:0%; 
	width: 200px;
}

#b {
position: absolute;
	top: 40%;
	text-align: center; 
	left:0%; 
	width: 200px;	
}

#a {
position: absolute;
	top: 20%;
	text-align: center; 
	left:0%; 
	width: 200px;	
}

#highscore {
	position: absolute;
	top: 75%;
	text-align: center;
	left: 669px;
	background-color: #007ADA;
	border: solid;
	border-radius: 30px;	
}

#choices {
	position: absolute;
	top: 30%;
	text-align: center;
	left: 5%;
	width: 200px;
	height: 400px;
	background-color: #1F2899;
	border: double;
	border-radius: 17px;
}

#difficulty {
	position: absolute;
	top: 30%; 
	text-align: center; 
	right:5%; 
	width: 200px;
	height:400px;
	background-color: #1F2899;
	border: double;
	border-radius: 17px;
	
}


#Extra {
	position: absolute;
	top: 80%;
	text-align: center; 
	left: 0%; 
	width: 200px;
}

#Hard { 
	position: absolute;
	top: 60%;
	text-align: center; 
	left: 0%; 
	width: 200px;
}

#Medium {
	position: absolute;
	top: 40%;
	text-align: center; 
	left: 0%; 
	width: 200px;	
}

#Easy {
	
position: absolute;
	top: 20%;
	text-align: center; 
	left: 0%; 
	width: 200px;	
}

#score {
	position: absolute;
	top: 5%;
	text-align: center;
	font-size:36px;
	right: 5%; 
	width: 200px;	
	height:100px;
	background-color: #1F2899;
	border: #005CBE, thick;
	border-radius: 40px;
}

#scoretilebox {
	position:absolute;
	right: 5%;
	top: 0%;
}


